:root{
  --prim: #d81e5b;
  --sec: #8c38ff;
  --light: #eee;
  --dark: #131a2f;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Fira sans', sans-serif;
}

body{
  background-color: var(--light);
}

.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.fi-calc{
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 20px 4px rgba(0, 0, 0, 0.2);
}

.fi-disp{
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
.fi-disp span{
  font-size: 14px;
  color: #999;
}

button{
  appearance: none;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  padding: 22px;
  cursor: pointer;
  transition: 0.33s;
}
button:hover{
  opacity: 0.88;
}
.fi-oprators{
  display: flex;
}
.fi-oprators button{
  flex: 1 1 0%;
  background-color: var(--prim);
  font-weight: 700;
}
.fi-digits{
  display: flex;
  flex-wrap: wrap;
}
.fi-digits button{
  flex: 1 1 33.333%;
  max-width: 33.33%;
  background-color: var(--dark);
}